.navbar {
  background-color:rgb(15, 109, 231);
  overflow: hidden;
  font-family: cursive;
}
.navbar a {
float:left;
color:black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size:17px;
}
.navbar a:hover {
background-color:rgb(0, 153, 255);
color:white;
font-family: cursive;
}
.navbar a.active {
  background-color:rgb(86, 139, 253);
  color:white;
  font-family: cursive;
}
body{
  background-color: rgb(159, 211, 245);
}
h1{
color:rgb(15, 109, 231);
text-align: center;
font-family: cursive;
}